ul.nav{
 height: 45px;
}
.nav li {
 list-style: none;
 float: left;
}
ul.nav a {
    display: block;
    width: 7em;
    padding:10px;
    background-color: #f4f4f4;
    border-top: 1px dashed #333;
    border-right: 1px dashed #333;
    border-left: 5px solid #333;
    text-decoration: none;
    color: #333;
}
ul.nav li:last-child a {
    border-bottom: 1px dashed #333;
}
header{
    text-align: center;
 background-color: #333;
}
.logo{
 width: 150px;
}
.nav {
    width: 420px;
    margin: 0 auto;
}
.first-block{
    text-align: center;
}
.first-image{
    margin: 0 auto
}
.numberOne{
    width: 70%;
    margin: 0 auto;
}
.numberOne > div{
    width: 30%;
    height: 365px;
}
.numberTwo , .numberThree{
float: left;
}
.numberFour{
    float:right;
}
.numberTwo > img{
    width: 100%;
}
.card{
    background-color: #333;
    color: aquamarine;
    border-radius: 45px;
    padding: 20px;
}
.numberThree > img{
    width: 100%;
}
.numberFour > img{
    width: 100%;
}
.numberThree{
    margin-left: 8px;
}